.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  padding: 10px 16px;
  
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  
  border-radius: 10px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s !important; 
  transition-delay: 0s !important;
}

.nav-item:hover {
  text-decoration: underline !important;
  text-decoration-color: black;
  text-underline-offset: 8px;
}

.nav-item.active {
  background-color: transparent;
  font-weight: 600;
  opacity: 1;
  text-decoration: underline !important;
  text-decoration-color: black;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}